*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
rr
/vendor
/node_modules

/admin-frontend/node_modules
/admin-frontend/dist

/frontend/node_modules
/frontend/.next

/mobile-app/.dart_tool
/mobile-app/build

/public/storage
/storage/logs
/public/uploads


